html{
    background-color:#21aba0 ;
}
ol{
    display: flex;
    justify-content:space-evenly;
   color: black;
   font-family: "Catamaran", sans-serif;
   font-weight: 900px;
   font-style: normal;
}
nav{
    background-color: #d5e6b8;
    padding: 10px;
}
h1{ 
    font-family: "Scope One", serif;
        display: flex;
        justify-content: center; 
}
img{
   flex: 1 1 ;
    

}
section{
    display: flex;
    justify-content: center;
}
h2{
     font-family: "Scope One", serif;
}
.perso{
    width: 250px;
    height: 250px;
    object-fit:cover;
}
h3{
    font-family: "Scope One", serif;
}
.logo{
    width: 100px;
    height: 100px;
    object-fit:cover;

}
.btn-primary{
    background-color: #63B995;
     border: #423E28 3px solid;
}
.btn-primary:hover{
    background-color: #ADEEE3;
}
p{
    font-family: "Catamaran", serif;

}
main{
    text-align: center;
}