html{
    background-color:#c7df9f ;
}
ol{
    display: flex;
    justify-content:space-evenly;
   color: black;
   font-family: "Catamaran", sans-serif;
   font-weight: 900px;
   font-style: normal;
}
nav{
    background-color: #cbbf8c;
    padding: 10px;
}
h1{ 
    font-family: "Scope One", serif;
        display: flex;
        justify-content: center; 
}
img{
   flex: 1 1 ;
    

}
section{
    display: flex;
    justify-content: center;
}
h2{
     font-family: "Scope One", serif;
}
.perso{
    
    width: 250px;
    height: 250px;
    object-fit:cover;
    box-shadow: 10px 10px 5px whitesmoke;
    
}
h3{
    font-family: "Scope One", serif;
}
.logo{
    width: 100px;
    height: 100px;
    object-fit:cover;

}
.btn-primary{
    background-color: #f0a707;
     border: #b5bab1 3px solid;
     box-shadow: 5px 5px #d7d705(8, 8, 8);
}
.btn-primary:hover{
    background-color: #66b02d;
}
p{
    font-family: "Catamaran", serif;

}
main{
    text-align: center;
}